<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307991962498-e2kuqf1mn4buef2a76osrcol8heo0d07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307991962498-e2kuqf1mn4buef2a76osrcol8heo0d07</string>
	<key>API_KEY</key>
	<string>AIzaSyB6CfkPgqpLDeS_FEe9nuMrJdZhmaHQB8g</string>
	<key>GCM_SENDER_ID</key>
	<string>307991962498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laurenckaefer.wakeLight</string>
	<key>PROJECT_ID</key>
	<string>wake-light-61f40</string>
	<key>STORAGE_BUCKET</key>
	<string>wake-light-61f40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307991962498:ios:17ff7036781903450fa59b</string>
	<key>DATABASE_URL</key>
	<string>https://wake-light-61f40-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>